*{
    box-sizing: border-box;
}
body{
    background: #f7f7f7;
}
.wrap{
    height: 200px;
    width: 200px;
    border-radius: 60px;
    margin-left: 50px;
    margin-top: 50px;
    background: linear-gradient(rgb(235, 77, 19), rgb(236, 58, 97));
}
.icon{
    height: 140px;
    width: 140px;
    background: transparent;
    border-radius: 45px;
    border: 12px solid #fff;
    margin-left: 50%;
    transform: translate(-50%,23%);
}
.big{
    height: 60px;
    width: 60px;
    border: 12px solid #fff;
    border-radius: 50%;
    margin-left: 50%;
    transform: translate(-50%,50%);
}
.small{
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}